<div class="min-h-screen pt-10 m-5">

  <div class="w-full flex flex-col justify-center items-center">

    <h1 class="text-4xl mb-10 text-center">
      {{ title }}
    </h1>

    @if(car){

      <div class="w-full max-w-3xl bg-white rounded-2xl shadow-2xl p-10 border border-gray-200">

        <!-- Título -->
        <h2 class="text-4xl font-bold text-gray-900 mb-6 border-b border-gray-200 pb-4">
          {{ car.title }}
        </h2>

        <!-- Precio -->
        <div class="mb-8">
          <p class="text-sm uppercase tracking-wider text-gray-500">
            Precio
          </p>

          <p class="text-3xl font-semibold text-green-600 mt-2">
            {{ car.price }} €
          </p>
        </div>

        <!-- Estado -->
        <div class="mb-8">

          <p class="text-sm uppercase tracking-wider text-gray-500">
            Estado
          </p>

          @if(car.status == 'true'){

            <span class="inline-block mt-2 bg-green-100 text-green-700 px-4 py-2 rounded-xl font-semibold">
              En venta
            </span>

          } @else {

            <span class="inline-block mt-2 bg-red-100 text-red-700 px-4 py-2 rounded-xl font-semibold">
              No disponible
            </span>

          }

        </div>

        <!-- Descripción -->
        <div class="mb-8">

          <p class="text-sm uppercase tracking-wider text-gray-500 mb-3">
            Descripción
          </p>

          <p class="text-lg text-gray-700 leading-8">
            {{ car.description }}
          </p>

        </div>
             
      </div>
            <a 
                routerLink="/home"
                class="mt-8 inline-block bg-blue-500 hover:bg-blue-600 
                        text-white px-6 py-3 rounded-xl shadow-lg 
                        hover:shadow-xl transition duration-300"
                >
                ← Volver
            </a>
    } @else {

      <p class="text-xl text-gray-500">
        Cargando vehículo...
      </p>

    }

   
  </div>

</div>